<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- IT'S NOT COMPLETE YET!!! -->

	<bean id="..." class="com.temenos.interaction.tests.internal.ConnectionImpl">
		<constructor-arg name="uri" value="http..." />
		<constructor-arg name="user" value="INPUTT" />
		<constructor-arg name="password" value="PASSWORD" />
	</bean>

	<bean id="BaseServiceMetadata"
		class="com.temenos.interaction.test.context.BaseServiceMetadata">
		<!-- GET THE PROPERTIES FOR SERVICE METADATA ADDED -->
	</bean>


</beans>
